/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } 


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky

	font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
*/

* {
	font-family: 'Lora', serif;
	color:#242424;
}

body {
	margin: 0;
	font-size:18px;
	line-height: 1.5;
}

section{
	padding:80px;
	margin:auto;
}


header{
	display:flex;
	justify-content:space-between;
	max-width: 1100px;
	margin-left:auto;
	margin-right: auto;
	margin-top:30px;
	margin-bottom: 30px;
}

.menu li{
	display:inline-block;
}

.menu a{
	text-decoration:none;
	padding: 10px 15px;
	border-radius:20px;
}

.menu a:hover{
background-color:#f195b2;
}

.logo{
	width: 170px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1{
	font-size:52px;
	color:white;
	padding-right: 40%;
}

h2{
	font-size:36px;
}

h3{
	font-size: 18px;
	text-align: center;
	margin:0;
	padding:20px;
}

.hero {
	background-image:url(images/cupcake.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.hero p{
	color:white;
	font-size: 24px;
	font-style:italic;
	padding-right:40%;
	max-width: 1100px;
}

.welcome{
	display: flex;
	justify-content:space-between;
}

.left{
	margin-right:30px;
	
}

.today{
	background-color: #f0f0f0;
}
 
.cakes{
	display:flex;
	justify-content: space-between;
}

.product{
	display:flex;
	flex-direction:column;
	max-width: 23%;
	border-radius: 5px;
	border: 1px solid lightgrey;
	box-shadow: 2px 2px 2px lightgrey;
}

.text{
	padding: 0 20px 20px 20px;
}

.sweet{
	border-radius: 5px 5px 0 0;
}

.photo{
	border-radius:5px;
}

.approach{
	display:flex;
}

.footer {
	background-color:#303339;
	padding:30px 0;
}

.footer p{
	color:#f0f0f0;
	text-align: center;
}

.button{
	display:inline;
	background-color: #f195b2;
	padding:15px 40px;
	border-radius:30px;
}

.button a{
	text-decoration: none;
	color:#f0f0f0;
}

.button:hover{
	background-color: #d2567d;
}